<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened [fixedInViewport]="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/" style="display: flex;">
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/dispositivos" style="display: flex;">
        <span>Dispositivos</span>
      </a>
      <a mat-list-item routerLink="/comandos" style="display: flex;">
        <span>Comandos</span>
      </a>
      <a mat-list-item routerLink="/usuarios" style="display: flex;">
        <span>Usuários</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>